---
title: Airspace
permalink: "/"
layout: page
slider:
  text_color: white
  shadow_color: black
  slides:
  - image: "img/slider/MG_3892.png"
    slide_html: ''
  - image: "img/slider/HD-250614-Soir-29.png"
    slide_html: ''
  - image: "img/slider/1130106.JPG"
    slide_html: ''
  - image: "img/slider/IMG_4295.JPG"
    slide_html: ''
  - image: "img/slider/champagne_prestation.png"
    slide_html: ''
  - image: "img/slider/IMG_5822.png"
    slide_html: ''
---

<!-- Slider Start -->
{% if page.slider %}
  {% include slider.html height="50" unit="%" transition="fade" duration="3" %}
{% endif %}
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row equal">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Bienvenue chez nous !</h2>
            <p>
              Olivier Théron Traiteur & Evénements, est avant tout <b>l’aventure d’une équipe de professionnels joyeux et passionnés</b>, relevant tous les défis.
            </p>
          </div>
            <p>
              Événements <b>professionnels</b> ou <b>privés</b>, pour un <b>cocktail</b>, un <b>repas assis</b>, un <b>mariage</b>, lors d’un <b>salon</b> ou sur un <b>festival</b>… Nous sommes à vos côtés !</p>
            <p>
              Notre délicieuse obsession est de créer, renouveler, inventer… <b>Bref, répondre à vos attentes les plus corsées</b> !
            </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12" >
        <div class="block">
          <img class="vertical-align" src="img/Assiette-mariage-traiteur-home.jpg" alt="Img">
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <div class="block">
          <div class="section-title">
            <h2>Le goût avant tout !</h2>
            <p>Nous défendons l’idée qu’<b>il n’y a pas de plaisir culinaire sans l’aboutissement d’un travail sur le goût.</b></p>
          </div>
          <p>
            Les <b>multiples saveurs qui se dégagent d’un mets</b> et se révèlent à nos papilles sont le fruit d’une <b>alchimie complexe</b> : le <b>savoir-faire d’un Chef</b> un brin toqué, des <b>produits frais et goûteux</b>, un <b>assaisonnement justement réfléchi</b>… 
          </p>
          <p>
            Nous nous entêtons ainsi à imaginer une cuisine qui <b>vous offrira un savoureux moment</b>.
            La diversité en cuisine est telle que nous ne pouvons en faire le tour, mais nous pouvons en revanche tout faire pour <b>ne jamais tourner en rond</b>.
          </p>
          <p>
            Alors <b>nous cogitons et nous inventons, nous revisitons nos propres créations parfois, nous nous inspirons des dernières tendances</b>, en résumé… Nous cuisinons avec passion !
          </p>
          <p> 
            Une seule ‘faim’ possible : <b>le goût</b> !
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- Instagram Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>En direct d'
          <a target="_blank" href="https://www.instagram.com/olivier.theron/">
            <img src="img/instagram.png" class="instagram-logo" alt="Instagram"/>
          </a>
        </h2>
        <p>Retrouvez nos dernières expériences gustatives sur Instagram</p>
      </div>
    </div>
    <div class="row">
      <div id="instafeed" class="instagram_list"></div>
    </div>
  </div>
</section>

<!-- Devis Start -->
{% include devis.html %}

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>L'entreprise</h2>
      </div>
    </div>
    <div class="row equal">
     <div class="col-md-6">
        <div class="block">
          <blockquote>
            <span> Une entreprise n’a d’intérêt à mes yeux que si elle est portée par <b>un projet commun</b>, reposant sur des hommes, évoluant sans cesse et se renouvelant. Nous avons la chance et la liberté de pouvoir créer des évènements, de les imaginer, de les rêver et de les faire naître.<br/>
          Souvent, la simplicité reste une valeur sure, et nous essayons d’exprimer au travers d’un mets l’équilibre complexe entre la présentation, la saveur et le goût des produits. Quoi qu’il en soit, nous prenons un véritable plaisir à confectionner ces mets, et aimons penser qu’il y a une corrélation directe entre le plaisir que nous prenons et celui que nous espérons vous apporter. </span>
          <small>Olivier Theron</small>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
          {% if site.data.testimonials.size > 0 %}
          <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">
              {% for tm in site.data.testimonials %}
              <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <p>
                    <span>{{ tm.name }}</span> {{ tm.company }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
     
    </div>
    
  </div>
</section>
