---
title: Airspace
permalink: "/"
layout: page
slider:
  text_color: white
  shadow_color: black
  slides:
  - image: "/img/slider/truffe_blanche_st_jacques.png"
    slide_html: ''
  - image: "/img/slider/HD-250614-Soir-7-fs8.png"
    slide_html: ''
  - image: "/img/slider/champagne_prestation.png"
    slide_html: ''
---

<!-- Slider Start -->
{% if page.slider %}
  {% include slider.html height="50" unit="%" transition="fade" duration="4" %}
{% endif %}
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row equal">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Présentation</h2>
            <p>Présentation des prestations
          </p>
          </div>
          <p>
            Nous savons aujourd’hui que cuisiner est un art, que nous devons nous entrainer et nous remettre en question afin que celui-ci
            progresse. La diversité est telle dans la cuisine que nous ne pouvons en faire le tour, nous créons en ayant
            l’ultime privilège de gouter au plaisir de cette création. Alors nous aiguisons nos papilles, relevons des défis
            et nous nous enrichissons de notre passion.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12" >
        <div class="block">
          <img class="vertical-align" src="img/Assiette-mariage-traiteur-home.jpg" alt="Img">
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <div class="block">
          <div class="section-title">
            <h2>Travail sur le goût</h2>
            <p>Nous défendons l’idée qu’il n’y a pas de plaisir culinaire sans l’aboutissement d’un travail sur le goût.</p>
          </div>
          <p>Les multiples saveurs qui se dégagent d’un mets et se révèlent à nos papilles sont le fruit d’une alchimie complexe
            qui prend en compte de nombreux paramètres :
          </p>
          <ul class="fa-ul">
            <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>La sélection de produits sains, mûrs, cultivés ou élevés avec respect</li>
            <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Une préparation qui privilégie des recettes à base de produits frais et, le plus possible, naturels</li>
            <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>La volonté de ne pas surgeler notre fabrication demeure essentielle à nos yeux</li>
          </ul>
          <br />
          <p>
            Le choix que nous faisons de fabriquer un cocktail de façon artisanale nous permet d’être plus scrupuleux sur le goût qui
            reste pour nous une priorité absolue.
          </p>
          <p>
            Nous savons aujourd’hui que cuisiner est un art, que nous devons nous entrainer et nous remettre en question afin que celui-ci
            progresse. La diversité est telle dans la cuisine que nous ne pouvons en faire le tour, nous créons en ayant
            l’ultime privilège de gouter au plaisir de cette création. Alors nous aiguisons nos papilles, relevons des défis
            et nous nous enrichissons de notre passion.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- Instagram Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>En direct d'
          <a target="_blank" href="https://www.instagram.com/olivier.theron/">
            <img src="img/instagram.png" class="instagram-logo" alt="Instagram"/>
          </a>
        </h2>
        <p>Retrouvez nos dernières expériences gustatives sur Instagram</p>
      </div>
    </div>
    <div class="row">
      <div id="instafeed" class="instagram_list"></div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Demandez-nous un devis</h2>
          <p>Vous souhaitez obtenir un devis gratuit pour un évènement ? Faites nous une demande de devis, nous vous répondrons sous 48h !</p>
          <a class="btn btn-default btn-call-to-action" href="#">Devis</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>L'entreprise</h2>
      </div>
    </div>
    <div class="row equal">
     <div class="col-md-6">
        <div class="block">
        <blockquote>
          <span> Une entreprise n’a d’intérêt à mes yeux que si elle est portée par <b>un projet commun</b>, reposant sur des hommes, évoluant sans cesse et se renouvelant. Nous avons la chance et la liberté de pouvoir créer des évènements, de les imaginer, de les rêver et de les faire naître.<br/>
        Souvent, la simplicité reste une valeur sure, et nous essayons d’exprimer au travers d’un mets l’équilibre complexe entre la présentation, la saveur et le goût des produits. Quoi qu’il en soit, nous prenons un véritable plaisir à confectionner ces mets, et aimons penser qu’il y a une corrélation directe entre le plaisir que nous prenons et celui que nous espérons vous apporter. </span>
        <small>Olivier Theron</small>
        </blockquote>
        </div>
      </div>
      <div class="col-md-6">
          {% if site.data.testimonials.size > 0 %}
          <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">
              {% for tm in site.data.testimonials %}
              <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p>
                    <span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
     
    </div>
    
  </div>
</section>