<!-- Header Start -->
<header class="">
  <div id="sticky" class="navbar-header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-header-top-left">
            <div class="showOnScroll">
              <a href="{{ site.baseurl }}/" title="Olivier Theron Traiteur">
                <img src="{{ site.baseurl }}/img/logo-OT-sticky.png" height="20px" />
                <span class="mini-margin-left">Olivier Théron</span>
              </a>
            </div>
            <div class="hideOnScroll">
              <a href="tel:0185782848" title="Appellez-nous au 0185782848"><i class="fas fa-phone"></i> +33 1 85 78 28 48</a><span class="mini-margin-left"> |</span>
              <a href="mailto:contact@oliviertheron.com" title="Contactez-nous par mail" class="mini-margin-left"><i class="fas fa-envelope"></i> contact@oliviertheron.com</a>
            </div>
          </div>
          <div class="navbar-header-top-right">
            <div class="hideOnScroll">
              <a href="https://fr-fr.facebook.com/Olivier-Th%C3%A9ron-Traiteur-Ev%C3%A8nements-579798552041214/" title="Facebook Olivier Theron"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/olivier.theron/" title="Instagram Olivier Theron" class="mini-margin-left"><i class="fab fa-instagram"></i></a><span class="mini-margin-left"> |</span>
              <a href="#" title="Démarche eco-responsable" class="mini-margin-left"><i class="fas fa-leaf"></i> Eco-responsable</a>
            </div>
            <div class="showOnScroll">
              <a href="tel:0185782848" title="Appellez-nous au 0185782848"><i class="fas fa-phone"></i> +33 1 85 78 28 48</a><span class="mini-margin-left"> |</span>
              <a href="mailto:contact@oliviertheron.com" title="Contactez-nous par mail" class="mini-margin-left"><i class="fas fa-envelope"></i> contact@oliviertheron.com</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img id="logo" src="{{ site.baseurl }}/img/logo-OT.png" width="75" height="75" alt="Logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Accueil</a></li>
                <li><a href="{{ site.baseurl }}/work">Nos Prestations</a></li>
                <li><a href="{{ site.baseurl }}/blog">Actualités</a></li>
                <li><a href="{{ site.baseurl }}/devis">Devis</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
